doctype html
html
	head
		title
			| #{title}
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
		link(rel='stylesheet', href='/adminlte/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
		link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.min.css')
		link(rel='stylesheet', href='/adminlte/plugins/iCheck/square/blue.css')
	body.hold-transition(style="background-color: #CE49BF;")
		.login-box
			.login-box-body(style="border-radius:15px;")
				.login-logo(style="margin-bottom:0!important;")
					a(href='#')
						b
							| Toko Pemusik Handal
						| 
				p.text-center Login
				p.login-box-msg
					| 
				form(action="/login/",method="post")
					- if (messages.msg_error) 
						.alert.alert-danger.alert-dismissable 
							button.close(type='button', data-dismiss='alert', aria-hidden='true') 
								| ×
							h4
								i.icon.fa.fa-ban
								| Alert! 
							| !{messages.msg_error}
					
					- if (messages.msg_info) 
						.alert.alert-success.alert-dismissable 
								button.close(type='button', data-dismiss='alert', aria-hidden='true') 
										| ×
									h4
										i.icon.fa.fa-ban
										| Success! 
									| !{messages.msg_info}

					.form-group.has-feedback
						input(type="email",placeholder="Email",name="txtEmail").form-control
						span.glyphicon.glyphicon-envelope.form-control-feedback
					.form-group.has-feedback
						input(type="password",placeholder="Password",name="txtPassword").form-control
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-12(style="float: left;padding-top: 10px; padding-bottom: 25px;")
							button(type="submit" style="background-color:#CE49BF;").btn.border-0
								| Log In
					a(href="/register").text-success.fs-5 Register sini


script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/adminlte/dist/js/login.js')