br
.shadow(style='background-color: #CE49BF;')  
  .container
    footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-4
      .col-md-4.d-flex.align-items-center
        a(href='/gate').text-white.m-2 © 1987 TokoPemusikHandal Inc