meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title #{title}
link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="/font-awesome/css/all.min.css")
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
link(rel="stylesheet", href="/stylesheets/bootstrap.css")
style.
  * {
    font-family: 'Manrope', sans-serif;
  }
  .judul{
    font-size:35px;
    font-weight: 800;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
  }
  .fa-stack.small {
    font-size: 0.9em;
  }
  .card-img-top{
    height:100px;
  }
  a{
    text-decoration: none;
  }
  .kuning_gradien{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  }
  .biru_ungu{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  }
  .ungu_biru{
    background-color: #FF3CAC!important;
    background-image: linear-gradient(135deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%)!important;
  }
  .judul_mobil{
      font-size:0.9rem!important;
  }
  .card-body {
    padding: 1rem 0.7rem!important;
  }
  .p-btn{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
  .headernocenter {
    align-items: flex-start !important;
  }
  .gambarberanda{
    height:100%;
  }
  @media only screen and (min-width: 600px) {
    .judul{
      font-size:51px;
    }
    .card-img-top{
      height:200px;
    }
    .judul_mobil{
      font-size:1.25rem!important;
    }
    .card-body {
      padding: 1rem 1rem!important;
    }
    .p-btn{
      padding-right: 0rem!important;
      padding-left: 0rem!important;
    }
    .gambarberanda{
      height:87vh;
    }
  }