nav.navbar.navbar-expand-lg.navbar-light.shadow(style='background-color: #CE49BF;')
  .container.py-3
    a.navbar-brand.fw-bold.fs-4.text-white(href='#') Toko Pemusik Handal
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        a.nav-link.text-white.fw-bold(href='/logout') Logout